apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react
  template:
    metadata:
      labels:
        app: react
    spec:
      containers:
      - name: react
        image: reactapp:v1  
        ports:
        - containerPort: 80
        env:
         - name: HOST
           value: "0.0.0.0"
