apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      containers:
      - name: laravel
        image: backend-laravel:v1
        ports:
          - containerPort: 8080
        env:
          - name: APP_ENV
            valueFrom:
              configMapKeyRef:
                name: laravel-config
                key: APP_ENV
          - name: APP_DEBUG
            valueFrom:
              configMapKeyRef:
                name: laravel-config
                key: APP_DEBUG
          - name: APP_KEY
            valueFrom:
              secretKeyRef:
                name: laravel-secret
                key: APP_KEY
          - name: DB_HOST
            valueFrom:
              configMapKeyRef:
                name: laravel-config
                key: DB_HOST
          - name: DB_PORT
            valueFrom:
              configMapKeyRef:
                name: laravel-config
                key: DB_PORT
          - name: DB_DATABASE
            valueFrom:
              configMapKeyRef:
                name: laravel-config
                key: DB_DATABASE
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: laravel-secret
                key: MYSQL_USER
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: laravel-secret
                key: MYSQL_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: laravel
spec:
  type: NodePort
  selector:
    app: laravel
  ports:
    - port: 8080
      targetPort: 8080
